{% extends "page_base.html" %}
{% block content %}
				<form method="post">
					<div class="form_content">
						{% if error_msg %}
						<div class="login-error">
							{{error_msg}}
						</div>
						{% endif %}
						<div class="form_header">
							<h1>Sign In</h1>
						</div>
						<div class="form_body">
							<label for="login_field">Username</label>
							<input type="text" name="login" id="login_field" class="input-text">
							<label for="password_field">Password</label>
							<input type="password" name="password" id="password_field" class="input-pw">
							<input type="submit" value="Sign In" class="form-button">
						</div>
					</div>
				</form>
{% endblock %}