{% extends "page_base.html" %}
{% block content %}
<div class="blog-header block">
	<p class="blog-header-name"><a href="/">Blog name</a></p>
	<p class="blog-header-desc">Blog description can be quite long</p>
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Contact</li>
	</ul>
</div>

<div class="blog-content">
	<div class="edit-post-container">
		<form method="post" onsubmit="return validatePostEditForm()">
			<label for="post-title">Title</label>
			<input type="text" id="post-title" name="post-title" class="edit-post-input" value="{{title}}">
			<label for="post-content">Content</label>
			<textarea id="post-content" name="post-content" class="edit-post-textarea">{{content}}</textarea>
			{% if title %}
				<input type="submit" value="Update post" class="form-button">
			{% else %}
				<input type="submit" value="Add post" class="form-button">
			{% endif %}
		</form>	
	</div>
</div>
{% endblock %}